/*
[name]紫[/name]
[iconbgcolor]#9934B7[/iconbgcolor]
Powered by Discuz! X
*/

body { background: #FFF url(bgimg.jpg) no-repeat 50% 0; }
#nv { background-color: #9934B7; background-image: url(nv.png); }
	#nv li, #nv li a:hover, #nv li.hover a, #nv li.hover a:hover { background-image: url(nv_a.png) !important; }
	#nv li.a { background-color: #6C1992; }

.bm_h, .tl th, .tl td { border-bottom-color: #CDCDCD; }
.fl .bm_h { border-color: #DFCDDE; background: #F8EFF8 url(titlebg.png) repeat-x 0 0; }

/* 重定义 {SPECIALBG} */
.bmn, .bm_h, td.pls, .ad td.plc, div.exfm, .tb a, .tb_h, .ttp li.a a, div.uo a, input#addsubmit_btn, #gh .bm .bm_h { background-color: #F8EFF8; }

.ct2_a, .ct3_a { background-image: url(vlineb.png); }
.tbn li.a { background: #FFF; }
	#nv_portal.pg_portalcp .ct2_a_r, #nv_forum.pg_post .ct2_a_r { background-image: none; }

/* 重定义 {SPECIALBORDER} */
.bmn, .pg a, .pgb a, .pg strong, .card, .card .o, div.exfm  { border-color: #DFCDDE; }
.pg strong { background-color: #DFCDDE; }
.pn, .tb .o, .tb .o a { background-image: url(pn.png); }
	.pnc, a.pnc, .tb .o { border-color: #609; }

.ad td.pls { background-color: #DFCDDE; }

/* 重定义字体 */
#qmenu, .fl .bm_h h2 a, .xi1, #um .new, .topnav .new, .sch .new, .el .ec .hot em, .pll .s a.joins, #diy_backup_tip .xi2 { color: #6F099E; }
.pll .s a.go { color: #FFF; }
.xi2, .xi2 a { color: #000; }

/* 重定义按钮 */
.pgs #newspecial, .pgs #newspecialtmp { float: left; background: url(pn_post.png) no-repeat 0 0; }
#post_reply, #post_replytmp { float: left; background: url(pn_reply.png) no-repeat 0 0; }
	#newspecial img, #newspecialtmp img, #post_reply img, #post_replytmp img { opacity: 0; filter: alpha(opacity=0); }
.moodfm_btn { background-image: url(mood_input_btn.png) !important; }
#create_group_btn { display: block; background: url(create_group.png) no-repeat 0 0; }
	#create_group_btn img { opacity: 0; filter: alpha(opacity=0); }
.el .ec .hot, .clct_list .xld .m { background-image: url(hotspot.gif); }
.pll .s { background-image:url(polljoins.gif); }

/* 重定义广播 */
#uhd, #flw_header .bar, .flw_replybox { background-color: #FCF9FC; }
	#uhd .tb a, #flw_header .bar { border-top-color: #F8EFF8; }
.pg_follow #fastpostsubmit { background-image: url(flw_post.png); }
.flw_replybox .pnc { background-image: url(pn_reply.png); }
.flw_replybox td table .pnc { background-image: url(pn_rt.png); }
#flw_post_extra .sec { border-color: #F8EFF8; background-color: #FCF9FC; }

/* 重定义版块快速跳转和侧边导航 */
#fjump_menu li.a a { background-color: #FCF8FC; }
.bdl, .bdl dt, .bdl dd.bdl_a a { border-color: #DFCDDE; background-color: #FCF8FC; }
	.bdl dt { background-image: url(titlebg_sd.png); }
.bdl dd.bdl_a a { color: #6F099E; }

/* 重定义下拉菜单 */
.p_pop a { border-bottom-color: #F8EFF8; }
	.p_pop a:hover, .p_pop a.a, #sctype_menu .sca { background-color: #F8EFF8; color: #6F099E; }
	.blk a:hover { background-color: transparent; }


#toptb { background-color: transparent;line-height:40px;z-index:1;background: url(toptb.png) repeat-x !important;}
#commonset{ background:url(toptb.png);}
#toptbxl{ background:url(toptb.png);}
#toptbmsg{ background:url(toptb.png);}
.wi{ background-color:#8a28ca;}
#toptbweather{width:432px;height:40px;}
.c1{ background-color:#8a28ca;}
#username{ background-color:#8000d5;}
#usergroup{ background-color:#8a28ca;}
.z{background-color:transparent;}
.bm_h{ background-color:#6600a8;}
#um .avt{background-color:#8000d5;}
.frame-tab{ color:#6600a8;}
.pos{height: 40px;}
.wt_icon_td_hd{background:url(weather.png) no-repeat 0px -10px;}
.wt_txt{background:url(weather.png) repeat-x 0px -61px;}
.wt_icon_td_ft{background:url(weather.png) no-repeat 0px -108px;}
.scbar_icon_td{background:url(search.png) 0 -6px no-repeat;}
.scbar_txt_td{background:url(search.png) 0px -58px repeat-x;}
.scbar_type_td{background:url(search.png) 0px -106px no-repeat;}
.scbar_btn_td{background:url(search.png) 4px -153px no-repeat;}

#userstatus a.normal{background: url(login_normal.png) no-repeat;}/*在线*/
#userstatus a.invisible{background: url(login_invisible.png) no-repeat;}/*隐身*/


#userstatus a.setup{background: url(setup.png) no-repeat;}/*设置*/
#userstatus a.notice_pm{background: url(notice_pm.png) no-repeat;}/*消息_提醒*/
	#myprompt.newmsg{background-position:-66px !important; }
#userstatus a.logout{background: url(logout.png) no-repeat;}/*注销*/
#userstatus a.myrepeats{background: url(myrepeats.png) no-repeat;}/*马甲*/
#userstatus a.extra{background: url(extra.png) no-repeat;}/*其他*/
#userstatus a.unact{background: url(active.png) no-repeat;}/*激活*/
#userstatus a:hover{background-position:-33px; }
.frame-tab .tb .a a{background-color: #8a28ca;}
.frame-title, .frametitle, .tab-title{background-color: #c06ff3;border-bottom: 4px solid #8a28ca !important; }
.scan_leader .z{background:#8a28ca; }
.scan_leader .y{color:#8a28ca; }
#tabwkNtJC{border-bottom: 4px solid #8a28ca;}
.metro1 .bm_h h2{background:#8a28ca; }
.fl .bm_h h2 a{color:white;}
#section_title .bm_h{background:#c06ff3; }
.ca_body{border:4px solid #8a28ca;}
.fl .bm_h{background:white; border-bottom: 4px solid #8a28ca !important;}
.fl .bm_c{border-bottom: 4px solid #8a28ca !important;}
#section_title .a{background-color:#8a28ca !important; }
.frame .title .titletext, .block .title .titletext{background: #8a28ca;}
.title{border-bottom:4px solid #8a28ca;}
.nvhm{background: url(home.png) no-repeat 0 3px}

#frameRN7Z1e{border-bottom:4px solid #8a28ca;}
.neww_sl{border-bottom:4px solid #8a28ca;}
.sl_w{border-bottom:4px solid #8a28ca;}
.new_sl{border-bottom:4px solid #8a28ca;}
#online .title strong{background:#8a28ca; }
#online .bm_h{border-bottom: 4px solid #8a28ca; }
.lk .title strong{background:#8a28ca;}
.lk .title{border-bottom: 4px solid #8a28ca; }
.lk .bm_c{border-bottom: 4px solid #8a28ca; }
#toptb{background: #8a28ca;}
#section_content .flg h2{background: #8a28ca;}
#online .bm_h h3{color:#8a28ca;}
.bmw .bm_h a{color:#8a28ca;}
#online .bm_c{border-bottom: 4px solid #8a28ca;}
#nv{background: #A210F3;}
#forumnav
{
	position:fixed;
	width:120px;
	top:120px;
	left:0px;
	background:#8904B1;
}
#backbutton
{
	position:fixed;
	width:30px;
	height:30px;
	top:260px;
	left:120px;
	background:#A901DB;
	color:white;
	font-size:20px;
}
.navitablestyle
{
	background:#9A2EFE;
}