body {
    background-color: #151515;
}

a{
    color: #999;
}

a:hover, a:focus{
    color: #ccc;
}

.bs-docs-nav {
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    background-color: #333;
    border-color: #2d2d2d;
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
}

.bs-docs-nav .navbar-collapse {
    border-color: #101010;
}

.bs-docs-nav .navbar-brand {
    color: #999;
}
.bs-docs-nav .navbar-nav > li > a {
    color: #ddd;
}
.bs-docs-nav .navbar-nav > li > a:hover {
    color: #fff;
}
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
    color: #ddd;
    background-color: #222;
}

.navbar-inverse .navbar-toggle .icon-bar{
    background-color: #999;
}

.bs-docs-nav .navbar-toggle {
    border-color: #666;
}
.bs-docs-nav .navbar-toggle:hover {
    background-color: #2980b9;
    border-color: #222;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
    background-color: #222;
}

.has-switch span.switch-left, .has-switch span.switch-primary{
    background: #2d2d2d;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
    border-color: #101010;
}

.navbar-form label{
    color: #ddd;
    font-weight: normal;
}

.has-switch span.switch-left, .has-switch span.switch-primary{
    background-color: inherit;
}

.breadcrumb{
    background-color: #444;
}

blockquote{
    color: #888;
    border-color: #333;
    background-color: #222;
}

.panel-default{
    background-color: inherit;
    border-color: #333;
}

.panel-default>.panel-heading{
    background-color:#666;
    border-color: #333;
    color: #999;
}

.panel-body{
    color: #666;
    background-color: #333;
}

.panel-body p{
    color: #999;
}

.bs-footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 20px;
    color: #777;
    text-align: center;
    border-top: 1px solid #3e3e3e;
}

.bs-masthead {
    position: relative;
    padding: 30px 15px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
}

.bs-masthead h1 {
    font-size: 50px;
    line-height: 1;
    color: #fff;
}

.bs-masthead-links a {
    color: #fff;
}

.bs-header {
    padding: 30px 15px 40px;
    font-size: 16px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
}
.bs-header h1 {
    color: #fff;
}

@media (min-width: 768px) {
    .carbonad {
        margin: 0 !important;
        border-radius: 4px;
        box-shadow: inset 0 3px 5px rgba(0,0,0,.075), 0 1px 0 rgba(255,255,255,.1);
    }
}

.bs-old-docs {
    padding: 15px 20px;
    color: #777;
    background-color: #fafafa;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e5e5e5;
}
.bs-old-docs strong {
    color: #555;
}

.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
}

.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #eed3d7;
}
.bs-callout-danger h4 {
    color: #b94a48;
}
.bs-callout-warning {
    background-color: #faf8f0;
    border-color: #faebcc;
}
.bs-callout-warning h4 {
    color: #c09853;
}
.bs-callout-info {
    background-color: #666;
    border-color: #9D9D9D;
}
.bs-callout-info h4 {
    color: #A0A0A0;
}

.bs-callout-info h5 {
    color: #ccc;
    line-height:30px;
}

.bs-team .team-member {
    color: #555;
    line-height: 32px;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    border: 1px solid #ddd;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
}

.highlight {
    display: none;
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.highlight pre .lineno {
    display: inline-block;
    width: 22px;
    padding-right: 5px;
    margin-right: 10px;
    text-align: right;
    color: #bebec5;
}

.bs-table th small,
.responsive-utilities th small {
    display: block;
    font-weight: normal;
    color: #999;
}

.responsive-utilities td.is-visible {
    color: #468847;
    background-color: #dff0d8 !important;
}
.responsive-utilities td.is-hidden {
    color: #ccc;
    background-color: #f9f9f9 !important;
}

.nav-tabs{
    border-bottom: 1px solid #666;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    border-color: #333;
    border-bottom-color: #666;
    background-color: #646464;
    color: #999;
}

.nav>li>a:hover, .nav>li>a:focus{
    background-color: #444;
    border-color: #444;
}

.top1 p{
    text-indent: 2em;
    color: #999;
}

.list-group li.active{
    background-color: #333;
    border-color: #333;
    color: #666;
}

.list-group-item{
    background-color: #666;
    border-color: #505050;
    color: #9D9D9D;
}

.list-group-item a{
    color:#BFBFBF;
}

.table{
    color: #9D9D9D;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th{
    background-color: #626262;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    border-color: #888;
}

.btn-default{
    background-color: #999;
    border-color: #999;
    color: #fff;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default{
    background-color: #333;
    border-color: #333;
    color: #fff;
}

.select{
    text-indent: 0.7em;
    font-size: 16px;
    color: #999999;
    width: 100%;
}

.pg>a,.pg .pgb>a{
    background-color: #999;
    border: 1px solid #505050;
    color: #ccc;
}

.pg>strong{
    background-color: #666;
    border:1px solid #505050;
    font-weight: normal;
    color: #fff;
}

.panel .row .s2 a{
    color:#D6EAF8;
}

.reply{
    border-color:#666;
}

.form-control{
    background-color: #B4B4B4;
    color: #fff;
}

.form-control:-moz-placeholder {
    color: #ffffff;
}

.form-control::-moz-placeholder {
    color: #ffffff;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #ffffff;
}

.form-control::-webkit-input-placeholder {
    color: #ffffff;
}

.reply .panel-heading{
    color:666;
    background-color:#333;
    border-color:#333;
}

.comment-sub{
    border-color:#CEDBE3;
    background-color:#E3F2FA;
}

.list-group .userinfo{
    margin-bottom:7px;
    padding-bottom:7px;
    border-bottom:1px solid #8E8E8E;
}

.list-group .ui img{
    background-color:#ECF0F1;
    padding:3px;
}

.label-info{
    background-color: #333;
}

.label a,.label a:hover{
    color: #999;
    text-decoration: none;
}

.label-default a,.label-default a:hover{
    color: #333;
}

.pm-list .info,.pm-list .user{
    background-color: #EDEDED;
    color: #999;
    padding: 3px;
    font-weight: normal;
}

.pm-list .user{
    background-color: #AAAAAA;
}

.pm-list .txt{
    color: #C6C6C6;
}

.pm-list .txt .new{
    color: #89CBF5;
}

.pm-list .con{
    color: #666;
}

.msg{
    color: #999;
}

.c666,a.c666{
    color: #999;
}

.c999,a.c999{
    color: #999;
}